@{
    PageData["title"] = "Home";
}

<div class="row">
    <section class="col-md-9">
        <article class="row" ng-repeat="ad in data.ads">
            <header>
                <h3>{{ ad.title }}</h3>
                <time>{{ ad.date | date }}</time>
            </header>
            <div>
                <img ng-src="{{ ad.imageDataUrl }}" alt="{{ ad.title }}" class="col-md-3" />
                <section class="col-md-9">
                    <p>{{ ad.text }}</p>
                    <div>
                        <p>Name: <span>{{ ad.ownerName }}</span></p>
                        <p>Email: <span><a href="mailto:{{ ad.ownerEmail }}">{{ ad.ownerEmail }}</a></span></p>
                        <p>Tel: <span>{{ ad.ownerPhone }}</span></p>
                    </div>
                </section>
            </div>
        </article>
    </section>

    <aside class="col-md-3">
        <nav class="row">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header disabled">
                    <h2>Categories</h2>
                </li>
                <li class="active">
                    <a href="/">All</a>
                </li>
                <li>
                    <a href="/">Cars</a>
                </li>
                <li>
                    <a href="/">Properties</a>
                </li>
                <li>
                    <a href="/">Electronics</a>
                </li>
                <li>
                    <a href="/">Jobs</a>
                </li>
            </ul>
        </nav>

        <nav class="row">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header disabled">
                    <h2>Towns</h2>
                </li>
                <li class="active">
                    <a href="/">All</a>
                </li>
                <li>
                    <a href="/">Plovdiv</a>
                </li>
                <li>
                    <a href="/">Sofia</a>
                </li>
                <li>
                    <a href="/">Rousse</a>
                </li>
            </ul>
        </nav>
    </aside>
</div>

<div>
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>
            <li ng-repeat="page in [] | range:data.numPages">
                <a href="/">
                    {{ $index + 1 }}
                </a>
            </li>
            
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>
</div>