<ul class="ads">
    <li ng-repeat="ad in data.ads" class="box">
        <h1>{{ad.title}}</h1>
        <div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
        <div ng-if='ad.imageDataUrl'>
            <strong>Image:</strong>
            <img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
        </div>
        // TODO: display all other fields for the current ad
    </li>
</ul>

<pagination total-items="data.numItems" ng-model="adsParams.startPage"
            items-per-page="adsParams.pageSize" ng-change="reloadAds()"
            max-size="9" boundary-links="true">
</pagination>

<div ng-if="data.ads.length==0" class="box no-data">
    No ads found.
</div>