<form class="box" ng-submit="register(userData)" name="registerForm">
    <h2>Register</h2>
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" ng-model="userData.username" required />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="userData.password" required ng-min-length="2" />
        <span ng-show="registerForm.password.$dirty && registerForm.password.$error.minLength">Password should be at least 2 characters</span>
    </p>
    <p>
        <label for="password-confirm">Confrim Password:</label>
        <input type="password" id="password-confirm" ng-model="userData.confirmPassword" required />
    </p>

    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" ng-model="userData.name" required />
    </p>

    <p>
        <label for="email">Email:</label>
        <input type="email" id="email" ng-model="userData.email" required />
    </p>
    
    <p>
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" ng-model="userData.phone" />
    </p>

    <p>
        <label for="town">Town:</label>
        <select id="town" ng-model="userData.townId">
            <option value="null" class="disabled">(None)</option>
            <option ng-repeat="town in towns"
                    value="{{town.id}}">
                {{town.name}}
            </option>
        </select>
    </p>
    <p>
        <input type="submit" class="button" value="Register" />
        <a href="/login" class="link">Login</a>
    <p>
</form>
