<div class="box">
    <h2>Confirm Deleting Ad?</h2>
    <hr />
    <div class="row">
        <h3>{{ad.title}}</h3>
        <div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
        <div class="col-md-2">
            <img class="ad-image" ng-src="{{ad.imageDataUrl || 'http://dummyimage.com/100x100/949494/ffffff.png&text=No+image'}}" />
        </div>
        <div class="col-md-8">
            <div>{{ ad.text }}</div>
            <div>
                <p>Category: <span>{{ ad.category }}</span></p>
                <p>Town: <span>{{ ad.townName }}</span></p>
            </div>
        </div>

    </div>
    <p>
        <button class="button" ng-click="deleteAd(ad.id)">Delete</button>
        <button class="button" ng-click="cancelDeleteAd()">Cancel</button>
    </p>
</div>