<ul class="ads">
    <li ng-repeat="ad in data.ads" class="box row">
        <h1>{{ad.title}}</h1>
        <div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
        <div ng-if='ad.imageDataUrl' class="col-md-2">
            <img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
        </div>
        <div class="col-md-8">
            <div>{{ ad.text }}</div>
            <div>
                <p>Category: <span>{{ ad.category }}</span></p>
                <p>Town: <span>{{ ad.townName }}</span></p>
            </div>
        </div>
        <div class="col-md-2">
            <p>Status:</p>
            <p>{{ad.status}}</p>
            <p>
                <button ng-if="ad.status == 'Published'" class="button" ng-click="deactivateAd(ad.id)">Deactivate</button>
                <p><a ng-if="ad.status != 'Published'" ng-href="/user/ads/edit/{{ad.id}}" class="button">Edit</a></p>
                <button ng-if="ad.status == 'Inactive'" class="button" ng-click="publishAgainAd(ad.id)">Publish Again</button>
                <button ng-if="ad.status == 'Inactive'" class="button" ng-click="deleteAd(ad.id)">Delete</button>
            </p>
        </div>
    </li>
</ul>

<pagination ng-if="data.numPages > 1" total-items="data.numItems" ng-model="adsParams.startPage"
            items-per-page="adsParams.pageSize" ng-change="reloadAds()"
            max-size="9" boundary-links="true">
</pagination>

<div ng-if="data.ads.length==0" class="box no-data">
    No ads found.
</div>